body {
    background-image: url("../images/bg_body.jpg");
    color: #d7cfc8;
    font-family: Verdana, Arial, sans-serif;
    font-size: 11px;
    line-height: normal;
    cursor: default;
    margin-right: 100px;
    margin-left: 100px;
}

a {
    color: #ffffff;
}


h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    color: #fff68d;
}

.header {
    padding: 64px 0 0;
    position: relative;
    height: 160px;
    box-sizing: border-box;
}

.header .mainmenu{
    background-color: #ffffff;
    position:  absolute;
    right: 0;
    bottom: 0;
}

.header .mainmenu .menu-list .menu-item{
    display: inline-block;
    padding: 0 30px;
    margin-right: -5px;
    border-radius: 5px;
}

.header .lang-list,
.header .auth{
    position: absolute;
    top: 40px;
    
}

.header .auth{
    right: 20px;
}